<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title></title>
     </head>
    <style>
    
body{
    background: url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-finder.com%2Fdata%2Fmini%2F28-certificate_template.png&f=1 ") no-repeat center center fixed; 
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    }
    </style>
 
  <body style="font-family: 'Lobster Two', cursive; color: #FF0000;">
 
  <div>
  <p align="center" style="font-size:50px;"><b>Your complain has been registered</b></p>
  <p align="center" style="font-size:50px;"><b> Soon action will be taken into account </b></p>
  <p align="center" style="font-size:50px;"><b>Thank you</b></p></div>
  </body>

  <div style="text-align: center;"">
<a href="/blog/login"><button class="btn btn-default " type="submit"">login again</button></a>
  </div>
</html>
