<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
 	<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https:fonts.googleapis.com/css?family=Satisfy">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http:maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min/js"></script>
	<title>Complain</title>
	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Pacifico" rel="stylesheet">

</head>

<body>
	
<div class="container">
<style type="text/css"> 
body{
	background-image: url("http://1.bp.blogspot.com/-SFdl1g_hp88/T9hnJQ5PAbI/AAAAAAAADUY/KhNn1KCVFRM/s1600/Flower+Background.jpg") ;

}


}
</style>
<marquee behavior="scroll" direction="left" scrollamount="24">
<h1 style="font-size: 60px; color:#151B8D; text-align: center; "> <u>Welcome to the Complaint-Register</u></h1>
</marquee>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<div>
<h1 style="color:	#24ffff; text-align: center; font-family: 'Pacifico', cursive;">Login as</h1>


<div style="color:#0C090A; font-size:30px; text-align: center;" >
<a href="/blog/login "><button class="btn btn-bsp-primary" type="submit"><strong>login as User</strong></button>
</a>

  <br>


<div style="color:#0C090A; font-size:30px; text-align: center;">
<a href="admin"><button class="btn btn-bsp-primary" type="submit"><strong>login as admin</strong></button></a>
</div>

</div>

</div>
</div>
</body>
</html>